@model FE.Models.Usuario

@{
    ViewData["Title"] = "Create";
}



<h4>Crear Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
Rol:
                <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol"></select>
            </div>
            <div class="form-group">
Usuario:
                <input asp-for="Usuario1" class="form-control" />
                <span asp-validation-for="Usuario1" class="text-danger"></span>
            </div>
            <div class="form-group">
Contraseña:
                <input asp-for="Contrasenna" class="form-control" />
                <span asp-validation-for="Contrasenna" class="text-danger"></span>
            </div>
            <div class="form-group">
Email:
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
Telefono:
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
Nombrre
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
Primer apellido:
                <input asp-for="PrimerApellidoUsuario" class="form-control" />
                <span asp-validation-for="PrimerApellidoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
Segundo apellido:
                <input asp-for="SegundoApellidoUsuario" class="form-control" />
                <span asp-validation-for="SegundoApellidoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
Trabajo:
                <select asp-for="IdJob" class ="form-control" asp-items="ViewBag.IdJob"></select>
            </div>
            <div class="form-group">
Departamento:
                <select asp-for="IdDepartamento" class ="form-control" asp-items="ViewBag.IdDepartamento"></select>
            </div>
            <div class="form-group">
Fecha de contratacion:
                <input asp-for="FechaContratacion" class="form-control" />
                <span asp-validation-for="FechaContratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
