@model FE.Models.Solicitud

@{
    ViewData["Title"] = "Create";
}

<h4>Crear Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
Usuario:
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
Estado:
                <select asp-for="IdEstado" class ="form-control" asp-items="ViewBag.IdEstado"></select>
            </div>
            <div class="form-group">
Tipo:
                <select asp-for="IdTipo" class ="form-control" asp-items="ViewBag.IdTipo"></select>
            </div>
            <div class="form-group">
Comentario solicitante:
                <input asp-for="ComentarioSolicitante" class="form-control" />
                <span asp-validation-for="ComentarioSolicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
Comentario encargado:
                <input asp-for="ComentarioEncargado" class="form-control" />
                <span asp-validation-for="ComentarioEncargado" class="text-danger"></span>
            </div>
            <div class="form-group">
Fecha de emicion:
                <input asp-for="FechaEmicion" class="form-control" />
                <span asp-validation-for="FechaEmicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
