@model IEnumerable<FE.Models.Job>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Trabajo</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Trabajo</th>
                        </tr>
                    </thead>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionJob)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJob">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdJob">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJob">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
