@model FE.Models.Tipo

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Tipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
Tipo de solicitud:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTipo">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
