@model FE.Models.HorasExtra

@{
    ViewData["Title"] = "Edit";
}

<h4>Horas Extra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHE" />
            <div class="form-group">
Usuario:
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
Dis:
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
Entrada:
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
Salida:
                <input asp-for="HoraFin" class="form-control" />
                <span asp-validation-for="HoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
