@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido al panel de control, aquí podrás manejar tu perfil en la empresa, además de manejar gestiones como: horas extra, solicitudes de vacaciones, adelanto de salario, entre otras,  dichas peticiones le serán entregadas a un responsable de recursos humanos el cual estará encargado de seguir cada caso y así aprobar o rechazar cada solicitud.</p>
    <p>Más informacion en <a href="https://docs.microsoft.com/aspnet/core">, entra y comprende el desarrollo de la aplicación</a>.</p>
</div>
