@model FE.Models.InfoContactoUsuario

@{
    ViewData["Title"] = "Edit";
}


<h4>Informacion de contacto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInfo" />
            <div class="form-group">
@*Usuario:
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>*@
            <div class="form-group">
Nombre:
                <input asp-for="NombreCompletoContacto" class="form-control"/>
                <span asp-validation-for="NombreCompletoContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
Parentesco:
                <select asp-for="IdRolCont" class="form-control" asp-items="ViewBag.IdRolCont"></select>
                <span asp-validation-for="IdRolCont" class="text-danger"></span>
            </div>
            <div class="form-group">
Telefono de contacto:
                <input asp-for="TelefonoContacto" class="form-control" />
                <span asp-validation-for="TelefonoContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
                <a asp-action="Index">Volver</a>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
